.box {
  display: flex;
  background-color: grey;
}
.box-small {
  width: 50px;
  height: 50px;
}

.box-middle {
  width: 100px;
  height: 100px;
}

.box-large {
  width: 150px;
  height: 150px;
}

/* .alert {
  line-height: 1.5;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
}

.warning {
  composes: alert;
  background-color: yellow;
}

.success {
  composes: alert;
  background-color: green;
}

.error {
  composes: alert;
  background-color: red;
} */
